@import "variables";
@import "color";



*{
    box-sizing: border-box; 
    padding: 0px;
    margin: 0px;
  //! turn on animation  animation-name: fade-in-out;
    animation-duration: 2s;
    animation-fill-mode: forwards;

   

}

html{
    width:$width_mobile;
    margin: 0px auto;
}

  


//header
header {
    background-image: url("../images/mobile/image-header.jpg");// consider this while doing the responsive design
    background-size: cover;
    height:100vh;
    padding: 20px;
    position: relative;
    
    .header__title{
        position: relative;
        top:5rem;
        color:$clr_white;
        font-family: 'Fraunces', serif;
        font-size: 2.5rem;
        letter-spacing:  0.1em;
        text-align: center;
         
        &::after{
            content: url("../images/icons/icon-arrow-down.svg");
            display: block;
             // arrow animation
            animation-name: updown-arrow;
            animation-duration: 2s;
            animation-delay: 2s;
            animation-fill-mode: forwards;
        }
    }
}

// animate the arrow in the header
@keyframes updown-arrow{
     from{
        transform: translateY(0px);
        opacity: 0;
     }to{
         opacity: 1;
        transform: translateY(60px);
     }
}


 


// animate the page on refresh
@keyframes fade-in-out{
    0%{
       opacity: 0;
       transform: scale(0);
    }
    20%{
        opacity: 0.2;
     }
     40%{
        opacity: 0.4;
     }
     50%{
        opacity: 0.6;
     }
     80%{
        opacity: 0.8;
  
     }
     90%{
        opacity: 0.9;
     }
     100%{
        opacity: 1;
     }
}











// navigation

.navbar{
    display:flex;
    justify-content:space-between;
    background-color:$clr_header;
    z-index: 1;
    
        .navbar__logo{
                align-self: center;
                display:block; 
            .navbar__logo_svg{
                fill:$dark_cyan;
            } 
        } 
    
        .navbar__menu{
            display:none; //! mobile design Checkout
            list-style-type: none;
            align-self: center;
    
        .navbar__menu__item{
            color:$clr_white;
            display: inline-block;
            margin-right:15px;
             
        }  
    }

    .navbar__hamburger{
        //display:none;
        width: 20px;
        height:20px;
        background-image: url("../images/icons/icon-hamburger.svg");
        background-size: cover;
        color:$dark_cyan;
             
    } 
}


.navbar__popup{
    // !important !!!!
    position:absolute;
    top: 80px;
    right: 0px;
    width: 87%;
    padding: 20px;
    margin: 20px;
    list-style: none;
    text-align: center;
    background-color: black;
    display:none;

        .navbar__popup__item{
            text-align:center;
            padding: 20px;
            margin: 40px,0px;
            width:80px;
            &:hover{
                border: radius 10px;
                background-color:$yellow;
            }
            
        }

        &::before{
            content:"";
            display: block;
            position: absolute;
            top: -28px;
            right: 0px;
            border: 14px solid transparent;
            border-right-color:white;
            border-bottom-color:white;
        }

}


// main content
 

// main design
.main__service{
    display: flex;
    flex-direction: column;
     
 
    
    .main__service_item1{
        background-image:url("../images/mobile/image-graphic-design.jpg");
        background-size: cover;
        height: 37.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        .main__service_item__title{
            font-family: 'Fraunces', serif;
            font-size: 1.8rem;
            text-align:center;
            margin-bottom: 0.5rem;
            color:$dark_cyan;
        }

        .main__service_item__def{
            text-align:center;
            margin-bottom: 2rem;
            font-family: 'Barlow', serif;
            font-size: 1rem;
            line-height:1.5rem;
            color:$dark_cyan;
            padding: 1.2rem;
        }
        }

    .main__service__item2{
        background:url("../images/mobile/image-photography.jpg");
        background-size: cover;
        height: 37.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
            .main__service_item__title{
                font-family: 'Fraunces', serif;
                font-size: 1.8rem;
                text-align:center;
                margin-bottom: 0.5rem;
                color:$dark_blue;
            }
    
            .main__service_item__def{
                text-align:center;
                margin-bottom: 2rem;
                font-family: 'Barlow', serif;
                font-size: 1rem;
                line-height:1.5rem;
                color:$dark_blue;
                padding: 1.2rem;
            }
    }
 

}





// contents main testimonial class name testimonials=tsmnl

.main__tsmnl{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    padding: 20px;
    margin: 20px;
     
    .main__tsmnl__title{
        margin: 20px 0px;
        color:$clr_grayish_blue;
        font-family: 'Fraunces', serif;
        font-size: 0.94rem;
        letter-spacing:  0.17em;
    }

    .main__tsmnl__person{
        margin: 20px 0px;
        display:flex;
        flex-direction: column;
        align-items: center;


        .main__tsmnl__person__img{
            margin: 30px 0px;
            border-radius:50%;
            width:75px;
            height:75px;
            
        }
        .main__tsmnl__person__def{
            margin: 20px 0px;
            color:$clr_grayish_darkblue;
            text-align: center;
            font-family: 'Barlow', serif;
            font-size: 0.9rem;  
            line-height: 1.7rem;
             
        }
        .main__tsmnl__person__name{
            margin-top: 18px;
            color:rgb(5, 5, 5);
            font-family: 'Fraunces', serif;
            font-size: 1.04rem;
            line-height: 1rem;
            
        }
        .main__tsmnl__person__pro{
            margin: 5px 0px;
            color:$clr_grayish_blue;
            font-family: 'Barlow', serif;
            font-size: 0.78rem;
            line-height: 1.9rem;
            
        }
         
    }

}







// contents main gallery

.main__gallery{
    display:grid;
    grid-template-columns:1f 1f;
    grid-template-rows:1f 1f;
     
    

    .main__gallery__item1{
        width: 187.5px;
        object-fit: cover;
        grid-column:1/2;
        grid-row: 1/2;
        content: url("../images/mobile/image-gallery-milkbottles.jpg")
    }
    
    .main__gallery__item2{
        width: 187.5px;
        grid-column:2/3;
        grid-row: 1/2;
        content: url("../images/mobile/image-gallery-orange.jpg")
    }
    
    .main__gallery__item3{
        width: 187.5px;
        grid-column:1/2;
        grid-row: 2/3;
        content: url("../images/mobile/image-gallery-cone.jpg")
    }
    
    .main__gallery__item4{
        width: 187.5px;
        grid-column:2/3;
        grid-row: 2/3;
        content: url("../images/mobile/image-gallery-sugar-cubes.jpg")
    }


}








// footer
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 360px;
    justify-content:space-around;
    background-color:$clr_footer;
    
    .footer__logo{
        filter:invert(33%) sepia(58%) saturate(1118%) hue-rotate(131deg) brightness(92%) contrast(94%);
         width:10rem;
    }

    .footer__menu{ 
         
        .footer__menu__item{
            font-family: 'Barlow', serif;
            padding-right: 1.5rem;
            font-size:1.1rem;
            color:$cyan_moderate;
            font-weight: bold;
            text-decoration: none;
        }
      
    }

    .footer__shares{
        
        .footer__shares__item{
           padding-right: 1.5rem;
            
        }
    }

}


 