@import "variables";

* {
    box-sizing: border-box;  
}

html{
    background-color: #ccc;
    position: relative;
    width:$width_mobile;
    margin: auto;
}


//header
header {
    background-image: url("../images/desktop/image-header.jpg");// consider this while doing the responsive design
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: 35px;
    width:$width_mobile;
    height:208px;
    
    
    .header__title{
        color:$clr_white;
        width:$width_mobile;
        text-align: center;
        
        
        &:hover{
            animation-name: updown-arrow;
            animation-duration: 4s;
            animation-iteration-count: 3;
        }

        &::after{
            content: url("../images/icons/icon-arrow-down.svg");
            display: block;
            
        }

    }

}


@keyframes updown-arrow{
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(5px);
    }
    50%{
        transform: translateY(5px);
    }
    75%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(-0px);
    }
}












// navigation

.navbar{
     
    position:absolute;
    top: 0px;
    padding: 15px;   //! why the padding of the nav isnt working properly
    display:flex;
    justify-content:space-between;
    width: $width_mobile;
    background-color:$clr_header;
    
    

    
        .navbar__logo{
            align-self: center;
        } 
    
        .navbar__menu{
            display:none; //! mobile design Checkout
            list-style-type: none;
            align-self: center;
    
        .navbar__menu__item{
            color:$clr_white;
            display: inline-block;
            margin-right:15px;
             
        }
        
    }

    .navbar__hamburger{
        //display:none;
        background-color:transparent;
        border:none;
        width: 30px;
        height:30px;
        align-self: center;
        background-image: url("../images/icons/icon-hamburger.svg");
    }

}


// main content
main{
    position: relative;
    top: 35px;
     
    width:$width_mobile;
    height: 200px;
}





// footer

.footer{
    display: flex;
    padding: 5px;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    background-color:$clr_footer;
    width:$width_mobile;
    position: relative;
    top: 35px;

        .footer__logo{
            color:$clr_darkgreen;
        }

        .footer__menu{ 
            list-style-type: none;
            display:flex;
            justify-content: center;
    
                .footer__menu__item{
                    display: inline-block;
                    margin-right: 30px; //! this should be removeds refer flex box alignment
                    
        }
        }

        .footer__shares{
            
                .footer__shares__item{
                    text-decoration: none;
                    width: 48px;
                    height: 48px;
                    padding:0px 10px;

                    
                }
        
        }
}
 